/* Base CSS for Secret Agent Supply Inc. */

html,
body {
  color: #000000;
  background-color: #FFFFFF;
  font-family: Helvetica,sans-serif;
  font-size: 18px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;   
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0 0.25rem;
} 

.page {
  width: 960px;
  margin: 0 auto;
}

header {
  background-color: #000000;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#logoRow {
  background-color: #000000;
  width: 100%;
  height: auto;
  position: fixed;
    top: 0;
  z-index: 90;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0.66em 0;
}

#logoContainer {
  color: #FFFFFF;
  height: 2.32rem;
  z-index: 100;
  display: flex;
  align-items: center;
}

#logo {
  height: 1.5rem;
  width: auto;
  margin-right: 1rem;
  margin-left:  0.5rem;
}

#headlineRow {
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 25rem;
  margin-top: 2.32rem;
}

#headlineText {
  color: #FFFFFF;
  background-color: #000000;
  width: 20rem;
  padding: 2rem 3rem;
  margin-top: 9rem;
  z-index: 90;
}

nav {
  background-color: #B22222;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

#navContainer {
   color: #FFFFFF;
   margin: 0.75rem 0;
   display: flex;
   justify-content: space-between;
}