/* Base CSS for Secret Agent Supply Inc. */
html,
body {
  color: #000000;
  background-color: #FFFFFF;
  font-family: Helvetica,sans-serif;
  font-size: 18px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;   
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 0.25rem;
} 

.page {
  max-width: 960px;
  margin: 0 auto;
  flex-grow: 1;
  flex-shrink: 1;
}

header {
  background-color: #000000;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#logoRow {
  background-color: #000000;
  width: 100%;
  height: auto;
  position: fixed;
    top: 0;
  z-index: 90;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0.66em 0;
}

#logoContainer {
  color: #FFFFFF;
  height: 2.32rem;
  z-index: 100;
  display: flex;
  align-items: center;
}

#logo {
  height: 1.5rem;
  width: auto;
  margin-right: 1rem;
  margin-left:  0.5rem;
}

#headlineRow {
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 25rem;
  margin-top: 2.32rem;
}

#headlineText {
  color: #FFFFFF;
  background-color: #000000;
  width: 20rem;
  padding: 2rem 3rem;
  margin-top: 9rem;
  z-index: 70;
}

nav {
  background-color: #B22222;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

#navContainer {
  color: #FFFFFF;
  margin: 0.75rem 0;
  display: flex;
  justify-content: center;
}

#navMobile {
  display: none;
}

.navList {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

#pageContent {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#products,
#locationHours {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3rem;
}

.flexContainer {
  display: flex;
  flex-direction: column;
}

#products .flexContainer {
  width: 30%;
  border: 4px solid #000000;
}

#locationHours .flexContainer {
  width: 35%;
}

.productImage {
  height: 9rem;
  text-align: center;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productImage img {
  max-height: 9rem;
  max-width: 9rem;
}

.productName {
  color: #FFFFFF;
  background-color: #000000;
  padding: 0.5rem;
  text-align: center;
}

.locationHoursTitle {
  color: #FFFFFF;
  background-color: #000000;
  padding: 1rem 2rem;
}

footer {
  color: #FFFFFF;
  background-color: #000000;
  width: 100%;
  height: 5rem;
  text-align: left;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Adjustments for tablets 1024px wide and below */
@media only screen and (max-width: 1024px) {
  #eyeglasses {
    display: none;
  }
  #navContainer {
    display: none;
  }
  #navMobile {
    color: #FFFFFF;
    margin: 0.75rem 0;
    display: flex;
    justify-content: center;
  }
  #products .flexContainer {
    width: 47%;
  }
}

/* Adjustments for phones 470px wide and below */
@media only screen and (max-width: 470px) {
  h1 {
    font-size: 1rem;
  }
  h2 {
    font-size: 0.77rem;
  } 
  #headlineRow {
    height: 15rem;
    display: flex;
    align-items: flex-end;
  }
  #headlineText {
    width: 100%;
    padding: 1rem 2rem;
    margin-top: 10rem;
  }
  #watch {
    display: none;
  }
  #products,
  #locationHours {
    justify-content: center;
  }
  #locationHours {
    flex-wrap: wrap;
  }
  #products .flexContainer,
  #locationHours .flexContainer {
    width: 90%;
  }
  #hours {
    margin-top: 0.5rem;
  }
  footer span.page {
    text-align: center;
    flex-grow: 0;
  }
}
 